.btn-logout {
    background-color: var(--bs-yellow);
    color: black;
    padding: 0.8rem 2.5rem;
    margin: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: #e0e000;
    color: black;
}

.welcomeMessage {
    font-size: 2rem;
    text-align: center;
}

.mainContainer {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: white;
    padding: 20px;
}

.sidebar-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black; /* Add border */
    cursor: pointer;
    font-size: 2rem;
    text-align: center; /* Align text to the left */
    border-radius: 0.5rem; /* Add border-radius for rounded corners */
    background-color: var(--bs-yellow);
    color: black;
}


.sidebar-btn:hover {
    background-color: #e0e000;
    color: black;
}

.content {
    flex: 1;
    padding: 20px;
}

.menu {
    display: none;
}

.menu.active {
    display: block;
}

.userRegisterGroup {
    margin-bottom: 15px;
}

.userRegisterGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.userRegisterGroup input[type="text"] {
    width: 40%; /* Adjust the width as per your requirement */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.userRegisterGroup input[type="text"]:focus {
    border-color: #007bff;
    outline: 0;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

.error {
    border: 1px solid red;
}

.success {
    border: 1px solid green;
}

.text-danger {
    color: red;
}

.alert-info {
    text-align: center;
}
