.btn-logout {
    color: black;
    padding: 0.8rem 2.5rem;
    margin: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: #e0e000;
    color: black;
}

.welcomeMessage {
    font-size: 2rem;
    text-align: center;
}

.mainContainer {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: white;
    padding: 20px;
}

.sidebar-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black; /* Add border */
    cursor: pointer;
    font-size: 2rem;
    text-align: center; /* Align text to the left */
    border-radius: 0.5rem; /* Add border-radius for rounded corners */
    background-color: #FFD700;
    color: black;
}


.sidebar-btn:hover {
    background-color: #e0e000;
    color: black;
}

.content {
    flex: 1;
    padding: 20px;
}

.menu {
    display: none;
}

.menu.active {
    display: block;
}

.userRegisterGroup {
    display: flex;
    flex-direction: column;
}

.userRegisterGroup input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 40%;
}

.userRegisterGroup select {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 1rem; /* Adjusted font size */
    padding: 8px; /* Adjusted padding */
    width: 40%;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.userRegisterGroup input:focus {
    outline: 0;
}

.userRegisterGroup.alert-success input {
    border-color: #09c372;
}

.userRegisterGroup.error input {
    border-color: #ff3860;
}

.userRegisterGroup .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
}

.alert-danger {
    width: min(50rem, 100%);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.24), -6px -6px 12px rgba(255, 255, 255, 0.72);
    margin: 0.5rem auto 4rem;
}

.alert-success {
    width: min(50rem, 100%);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.24), -6px -6px 12px rgba(255, 255, 255, 0.72);
    margin: 0.5rem auto 4rem;
}


/*   USER TABLE   */


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

@media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }

    tr:nth-child(odd) {
        background: #f5f5f5;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: left;
    }

    td:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before { content: "NEMPLEADO"; }
    td:nth-of-type(2):before { content: "NOMBRE"; }
    td:nth-of-type(3):before { content: "PASS"; }
    td:nth-of-type(4):before { content: "PERFIL"; }
    td:nth-of-type(5):before { content: "TIENDA"; }
}

/*   USER TABLE   */

.search-container {
    display: flex;
    justify-content: space-around; /* Change to space-around to evenly distribute space around the items */
    align-items: flex-start;
}

.search-group {
    text-align: left;
}

.search-input {
    width: 100%;
    box-sizing: border-box;
}

.large-input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 200%;
}

.small-input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 80%;
}

.form-group input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-group label {
    width: 80%;
}

.form-group select {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 1rem; /* Adjusted font size */
    padding: 8px; /* Adjusted padding */
    width: 100%;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.form-group input:focus {
    outline: 0;
}

.form-group.error input {
    border-color: #ff3860;
}

.form-group .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}