.btn-logout {
    background-color: var(--bs-yellow);
    color: black;
    padding: 0.8rem 2.5rem;
    margin: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: #e0e000;
    color: black;
}

.welcomeMessage {
    font-size: 2rem;
    text-align: center;
}

.mainContainer {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: white;
    padding: 20px;
}

.sidebar-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black; /* Add border */
    cursor: pointer;
    font-size: 2rem;
    text-align: center; /* Align text to the left */
    border-radius: 0.5rem; /* Add border-radius for rounded corners */
    background-color: var(--bs-yellow);
    color: black;
}


.sidebar-btn:hover {
    background-color: #e0e000;
    color: black;
}

.content {
    flex: 1;
    padding: 20px;
}

.menu {
    display: none;
}

.menu.active {
    display: block;
}

.userRegisterGroup {
    display: flex;
    flex-direction: column;
}

.userRegisterGroup input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.userRegisterGroup input:focus {
    outline: 0;
}

.userRegisterGroup.alert-success input {
    border-color: #09c372;
}

.userRegisterGroup.error input {
    border-color: #ff3860;
}

.userRegisterGroup .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}
