<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Centro de administración</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/adminStyles.css}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<script th:src="@{/js/adminScripts.js}"></script>
<header style="display: flex; justify-content: space-between; align-items: center;">
    <div style="text-align: center; flex: 1;">
        <h1 class="welcomeMessage">¡Bienvenido <span th:text="${name}"></span>!</h1>
    </div>
    <div style="text-align: right;">
        <form action="#" th:action="@{/logout}" method="post">
            <div class="mb-3">
                <button type="submit" class="btn btn-logout" style="background-color: #FFD700;">Cerrar Sesión</button>
            </div>
        </form>
    </div>
</header>
<div th:if="${param.success}">
    <div th:if="${param.type} == 'register'" class="alert alert-info text-center">
        Usuario registrado correctamente.
    </div>
    <div th:if="${param.type} == 'update'" class="alert alert-info text-center">
        Usuario actualizado correctamente.
    </div>
</div>

<div th:if="${param.error}">
    <div class="alert alert-danger text-center">
        Número de empleado existente.
    </div>
</div>
<div class="mainContainer">
    <div class="sidebar">
        <button class="sidebar-btn" onclick="openMenu('option1')">AGREGAR USUARIO</button>
        <button class="sidebar-btn" onclick="openMenu('option2')">EDITAR USUARIO</button>
        <button class="sidebar-btn" onclick="openMenu('option3')">Opción 3</button>
    </div>

    <!-- Content Area -->
    <div class="content">
        <div id="option1" class="menu">
            <h1>Registro de usuario</h1>
            <br>
                <form style="align-items: center" id="formAdmin" th:action="@{/admin}" method="post" th:object="${user}">
                    <div class="userRegisterGroup">
                        <label for="NEMPLEADO" class="control-label">Número de Empleado:</label>
                        <input type="text"
                               id="NEMPLEADO"
                               name="NEMPLEADO"
                               class="form-control"
                               placeholder="Introduce tu número de empleado"
                               oninput="validateNEMPLEADO(this)"
                               th:field="*{NEMPLEADO}"
                        />
                        <div class="error"></div>
                    </div>

                    <div class="userRegisterGroup">
                        <label for="NOMBRE" class="control-label">Nombre:</label>
                        <input type="text"
                               id="NOMBRE"
                               name="NOMBRE"
                               class="form-control"
                               placeholder="Introduce tu nombre"
                               oninput="validateNOMBRE(this)"
                               th:field="*{NOMBRE}"
                        />
                        <div class="error"></div>
                    </div>

                    <div class="userRegisterGroup">
                        <label for="PASS" class="control-label">Contraseña:</label>
                        <input type="text"
                               id="PASS"
                               name="PASS"
                               class="form-control"
                               placeholder="Introduce una contraseña"
                               oninput="validatePASS(this)"
                               th:field="*{PASS}"
                        />
                        <div class="error"></div>
                    </div>

                    <div class="userRegisterGroup">
                        <label for="PERFIL" class="control-label">Perfil:</label>
                        <select id="PERFIL" name="PERFIL" class="form-control" th:field="*{PERFIL}">
                            <option th:value="15">Admin</option>
                            <option th:value="10">User</option>
                        </select>
                    </div>

                    <div class="userRegisterGroup">
                        <label for="TIENDA" class="control-label">Tienda:</label>
                        <input type="text"
                               id="TIENDA"
                               name="TIENDA"
                               class="form-control"
                               placeholder="Introduce tu tienda"
                               oninput="validateTIENDA(this)"
                               th:field="*{TIENDA}"
                        />
                        <div class="error"></div>
                    </div>
                    <br>
                    <div style="align-items: center">
                        <button type="submit" class="btn btn-primary" name="action" value="register">Registrar</button>
                    </div>
                </form>
        </div>

        <div id="option2" class="menu">
            <h1>Lista de usuarios</h1>
            <br>
            <table>
                <thead>
                <tr>
                    <th>NEMPLEADO</th>
                    <th>NOMBRE</th>
                    <th>PASS</th>
                    <th>PERFIL</th>
                    <th>TIENDA</th>
                    <th>Action</th> <!-- New column for Edit button -->
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.NEMPLEADO}"></td>
                    <td th:text="${user.NOMBRE}"></td>
                    <td th:text="${user.PASS}"></td>
                    <td th:text="${user.PERFIL}"></td>
                    <td th:text="${user.TIENDA} ? ${user.TIENDA} : 'NULL'"></td>
                    <td>
                        <button type="button" class="btn btn-primary" th:attr="data-target='#editModal'+${user.NEMPLEADO}" data-toggle="modal">EDITAR</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:each="user : ${users}" th:id="'editModal'+${user.NEMPLEADO}" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/admin}" method="post">
                                <input type="hidden" name="NEMPLEADO" th:value="${user.NEMPLEADO}" />

                                <div class="form-group">
                                    <label>NOMBRE:</label>
                                    <input type="text" class="form-control" name="NOMBRE" th:value="${user.NOMBRE}" />
                                </div>

                                <div class="form-group">
                                    <label>CONTRASEÑA:</label>
                                    <input type="text" class="form-control" name="PASS" th:value="${user.PASS}" />
                                </div>

                                <div class="form-group">
                                    <label for="updPerfil">PERFIL:</label>
                                    <select id="updPerfil" name="PERFIL" class="form-control">
                                        <option th:value="15" th:selected="${user.PERFIL == 15}">Admin</option>
                                        <option th:value="10" th:selected="${user.PERFIL == 10}">User</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>TIENDA:</label>
                                    <input type="text" class="form-control" name="TIENDA" th:value="${user.TIENDA}" />
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" name="action" value="update" class="btn btn-primary">ACEPTAR</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <div id="option3" class="menu">
            <!-- Content for Option 3 -->
            <h2>Option 3 Content</h2>
            <p>Add info for Option 3 here.</p>
        </div>
    </div>
</div>

<script th:src="@{/js/adminScripts.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>