<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Centro de administración</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/adminStyles.css}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header style="display: flex; justify-content: space-between; align-items: center;">
    <div style="text-align: center; flex: 1;">
        <h1 class="welcomeMessage">¡Bienvenido <span th:text="${name}"></span>!</h1>
    </div>
    <div style="text-align: right;">
        <form action="#" th:action="@{/logout}" method="post">
            <div class="mb-3">
                <button type="submit" class="btn btn-logout" style="background-color: #FFD700;">Cerrar Sesión</button>
            </div>
        </form>
    </div>
</header>

<!-- SUCCESS MESSAGE -->
<div style="text-align: center;" th:action="@{/admin}">
    <div th:if="${success}">
        <div class="alert alert-success" th:text="${message}"></div>
    </div>
    <!-- ERROR MESSAGE -->
    <div th:if="${error}">
        <div class="alert alert-danger" th:text="${errorMessage}"></div>
    </div>
</div>

<!-- SIDE BAR CONTAINING OPTIONS (YOU CAN ADD MORE IF NEEDED)-->
<div class="mainContainer">
    <div class="sidebar">
        <button class="sidebar-btn" onclick="openMenu('option1')">AGREGAR USUARIO</button>
        <button class="sidebar-btn" onclick="openMenu('option2')">EDITAR USUARIO</button>
        <button class="sidebar-btn" onclick="openMenu('option3')">AGREGAR PRODUCTO</button>
        <button class="sidebar-btn" onclick="openMenu('option4')">EDITAR PRODUCTO</button>
    </div>

    <!-- AGREGAR USUARIO OPTION -->
    <div class="content">
        <div id="option1" class="menu">
            <h1>Registro de usuario</h1>
            <br>
            <form style="align-items: center" id="formAdmin" th:action="@{/admin}" method="post" th:object="${user}">
                <div class="userRegisterGroup">
                    <!-- LABEL AND INPUT TO COMPLETE -->
                    <label for="NEMPLEADO" class="control-label">Número de Empleado:</label>
                    <input type="text"
                           id="NEMPLEADO"
                           name="NEMPLEADO"
                           class="form-control"
                           placeholder="Introduce tu número de empleado"
                           oninput="validateNEMPLEADO(this)"
                           th:field="*{NEMPLEADO}"
                    />
                    <!-- DIV FOR ERROR IN CASE OF BEING THROWN -->
                    <div class="error"></div>
                </div>

                <div class="userRegisterGroup">
                    <label for="NOMBRE" class="control-label">Nombre:</label>
                    <input type="text"
                           id="NOMBRE"
                           name="NOMBRE"
                           class="form-control"
                           placeholder="Introduce tu nombre"
                           oninput="validateNOMBRE(this)"
                           th:field="*{NOMBRE}"
                    />
                    <div class="error"></div>
                </div>

                <div class="userRegisterGroup">
                    <label for="PASS" class="control-label">Contraseña:</label>
                    <input type="password"
                           id="PASS"
                           name="PASS"
                           class="form-control"
                           placeholder="Introduce una contraseña"
                           oninput="validatePASS(this)"
                           th:field="*{PASS}"
                    />
                    <div class="error" id="PASS_error"></div> <!-- Added id="PASS_error" -->
                </div>

                <div class="userRegisterGroup">
                    <label for="PERFIL" class="control-label">Perfil:</label>
                    <!-- SELECT FIELDS FOR USER OR ADMIN VALUE -->
                    <select id="PERFIL" name="PERFIL" class="form-control" th:field="*{PERFIL}">
                        <option th:value="15">Admin</option>
                        <option th:value="10">User</option>
                    </select>
                </div>

                <div class="userRegisterGroup">
                    <label for="TIENDA" class="control-label">Tienda:</label>
                    <input type="text"
                           id="TIENDA"
                           name="TIENDA"
                           class="form-control"
                           placeholder="Introduce tu tienda"
                           oninput="validateTIENDA(this)"
                           th:field="*{TIENDA}"
                    />
                    <div class="error"></div>
                </div>
                <br>
                <!-- Registrar BUTTON WITH "REGISTER" AS ACTION VALUE SO IT CAN WORK AS EXPECTED -->
                <div style="align-items: center">
                    <button type="submit" class="btn btn-primary" name="action" value="register">Registrar</button>
                </div>
            </form>
        </div>

        <!-- EDITAR USUARIO OPTION -->
        <div id="option2" class="menu">
            <h1>Lista de usuarios</h1>
            <br>
            <!-- SEARCH BAR -->
            <div class="search-container">
                <div class="search-group">
                    <!-- SEARCH BY NAME -->
                    <label for="leftSearchInput">Buscar por nombre:</label>
                    <input oninput="validateNOMBRE(this)" type="text" id="leftSearchInput" placeholder="Ingresa un nombre..." class="search-input large-input" maxlength="50">
                </div>
                <div class="search-group">
                    <!-- SEARCH BY NEMPLEADO -->
                    <label for="rightSearchInput">Buscar por número de empleado:</label>
                    <input oninput="validateNEMPLEADO(this)" type="text" id="rightSearchInput" placeholder="Ingresa número de empleado..." class="search-input small-input" maxlength="10">
                </div>
            </div>

            <!-- TABLE FOR VISUALIZE USERS, THIS IS UPDATED DYNAMICALLY -->
            <table id="userTable">
                <thead>
                <tr>
                    <th>NEMPLEADO</th>
                    <th>NOMBRE</th>
                    <th>PERFIL</th>
                    <th>TIENDA</th>
                    <th></th> <!-- EMPTY COLUMN FOR EDIT BUTTON -->
                </tr>
                </thead>
                <tbody>
                <!-- TABLE BODY CONTAINING EVERY USER REGISTERED IN THE DB -->
                <tr th:each="user : ${users}">
                    <td th:text="${user.NEMPLEADO}"></td>
                    <td th:text="${user.NOMBRE}"></td>
                    <td th:text="${user.PERFIL}"></td>
                    <td th:text="${user.TIENDA} ? ${user.TIENDA} : '-'"></td>

                    <!-- EDIT BUTTON, THIS WILL OPEN A NEW EDIT FIELD IN THE SAME WINDOW -->
                    <td>
                        <button type="button" class="btn btn-primary"
                                th:attr="data-target='#userModal' + ${user.NEMPLEADO}"
                                onclick="autoCompleteEditUser(this)"
                                th:value="${user.NEMPLEADO}"
                                data-toggle="modal">EDITAR
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- EDIT USER CONFIG, ITERATES ON EVERY USER TO GET EXPECTED VALUE -->
            <div th:each="user : ${users}" th:id="'userModal'+${user.NEMPLEADO}" class="modal fade" tabindex="-1"
                 role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- HEADER FOR EDITAR USUARIO -->
                            <h5 class="modal-title">Editar usuario</h5>
                            <!-- CLOSE BUTTON -->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- EDIT USER FORM, CONTAINS AN OBJECT FOR USER TO EXTRACT THE DESIRED VALUE -->
                            <form style="align-items: center" th:id="'userEditForm' + ${user.NEMPLEADO}" th:action="@{/admin}" method="post" th:object="${user}">

                                <!-- CONTAINERS TO STORE THE CURRENT USER'S INFO -->
                                <div style="display: none;" th:id="'NEMPLEADO_VALUE' + ${user.NEMPLEADO}" th:value="${user.NEMPLEADO}"></div>
                                <div style="display: none;" th:id="'NOMBRE_VALUE' + ${user.NEMPLEADO}" th:value="${user.NOMBRE}"></div>
                                <div style="display: none;" th:id="'PASS_VALUE' + ${user.NEMPLEADO}" th:value="${user.PASS}"></div>
                                <div style="display: none;" th:id="'TIENDA_VALUE' + ${user.NEMPLEADO}" th:value="${user.TIENDA}"></div>

                                <div class="userRegisterGroup">
                                    <!-- "readonly" ADDED SO THE USER CAN'T MODIFY THAT FIELD -->
                                    <label th:for="'NEMPLEADO1' + ${user.NEMPLEADO}" class="control-label">Número de Empleado:</label>
                                    <input type="text"
                                           th:id="'NEMPLEADO1' + ${user.NEMPLEADO}"
                                           th:name="'NEMPLEADO1' + ${user.NEMPLEADO}"
                                           class="form-control"
                                           placeholder="Introduce tu número de empleado"
                                           oninput="validateNEMPLEADO(this)"
                                           th:field="*{NEMPLEADO}"
                                           readonly
                                    />
                                    <div class="error"></div>
                                </div>

                                <div class="userRegisterGroup">
                                    <label th:for="'NOMBRE1' + ${user.NEMPLEADO}" class="control-label">Nombre:</label>
                                    <input type="text"
                                           th:id="'NOMBRE1' + ${user.NEMPLEADO}"
                                           th:name="'NOMBRE1' + ${user.NEMPLEADO}"
                                           class="form-control"
                                           placeholder="Introduce tu nombre"
                                           oninput="validateNOMBRE(this)"
                                           th:field="*{NOMBRE}"
                                    />
                                    <div class="error"></div>
                                </div>

                                <div class="userRegisterGroup">
                                    <label th:for="'PASS1' + ${user.NEMPLEADO}" class="control-label">Contraseña:</label>
                                    <input type="password"
                                           th:id="'PASS1' + ${user.NEMPLEADO}"
                                           th:name="'PASS1' + ${user.NEMPLEADO}"
                                           class="form-control"
                                           placeholder="Introduce una contraseña"
                                           oninput="validatePASS(this)"
                                           th:field="*{PASS}"
                                    />
                                    <div class="error" id="PASS_error1"></div> <!-- Added id="PASS_error" -->
                                </div>

                                <div class="userRegisterGroup">
                                    <label th:for="'PERFIL1' + ${user.NEMPLEADO}" class="control-label">Perfil:</label>
                                    <label>
                                        <select th:id="'PERFIL1' + ${user.NEMPLEADO}" th:name="'PERFIL1' + ${user.NEMPLEADO}" class="form-control" th:field="*{PERFIL}">
                                            <option th:value="15">Admin</option>
                                            <option th:value="10">User</option>
                                        </select>
                                    </label>
                                </div>

                                <div class="userRegisterGroup">
                                    <label th:for="'TIENDA1' + ${user.NEMPLEADO}" class="control-label">Tienda:</label>
                                    <input type="text"
                                           th:id="'TIENDA1' + ${user.NEMPLEADO}"
                                           th:name="'TIENDA1' + ${user.NEMPLEADO}"
                                           class="form-control"
                                           placeholder="Introduce tu tienda"
                                           oninput="validateTIENDA(this)"
                                           th:field="*{TIENDA}"
                                    />
                                    <div class="error"></div>
                                </div>
                                <br>
                                <div style="align-items: center">
                                    <!-- ACEPTAR BUTTON WITH "UPDATE" AS ACTION VALUE NEEDED SO IT WORKS AS EXPECTED -->
                                    <button type="submit" class="btn btn-primary" name="action" value="update">ACEPTAR</button>
                                    <!-- CLOSE FORM BUTTON WORKS THE SAME AS THE PREVIOUS ONE -->
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- AGREGAR PRODUCTOS OPTION -->
        <div id="option3" class="menu">
            <h1>Registro de productos</h1>
            <br>
            <form style="align-items: center" id="formProduct" th:action="@{/admin}" method="post" th:object="${product}">
                <div class="userRegisterGroup">
                    <label for="SKU" class="control-label">SKU:</label>
                    <input type="text"
                           id="SKU"
                           name="SKU"
                           class="form-control"
                           placeholder="Introduce un SKU"
                           th:field="*{SKU}"
                           oninput="validateSKU(this)"
                    />
                    <div class="error"></div>
                </div>

                <div class="userRegisterGroup">
                    <label for="DESCRIPCION" class="control-label">Descripción:</label>
                    <input type="text"
                           id="DESCRIPCION"
                           name="DESCRIPCION"
                           class="form-control"
                           placeholder="Introduce una descripción"
                           th:field="*{DESCRIPCION}"
                           oninput="validateDESCRIPCION(this)"
                    />
                    <div class="error"></div>
                </div>

                <div class="userRegisterGroup">
                    <label for="COSTO" class="control-label">Costo:</label>
                    <input type="text"
                           id="COSTO"
                           name="COSTO"
                           class="form-control"
                           placeholder="Introduce un costo"
                           th:field="*{COSTO}"
                           oninput="validateNEMPLEADO(this)"
                    />
                    <div class="error"></div>
                </div>

                <div class="userRegisterGroup">
                    <label for="PRECIO" class="control-label">Precio:</label>
                    <input type="text"
                           id="PRECIO"
                           name="PRECIO"
                           class="form-control"
                           placeholder="Introduce un precio"
                           th:field="*{PRECIO}"
                           oninput="validateNEMPLEADO(this)"
                    />
                    <div class="error"></div>
                </div>

                <div class="userRegisterGroup">
                    <label for="DEPARTAMENTO" class="control-label">Departamento:</label>
                    <input type="text"
                           id="DEPARTAMENTO"
                           name="DEPARTAMENTO"
                           class="form-control"
                           placeholder="Introduce un departamento"
                           th:field="*{DEPARTAMENTO}"
                           oninput="validateDEPA(this)"
                    />
                    <div class="error"></div>
                </div>

                <div class="userRegisterGroup">
                    <label for="TIENDA_PROD" class="control-label">Tienda:</label>
                    <input type="text"
                           id="TIENDA_PROD"
                           name="TIENDA_PROD"
                           class="form-control"
                           placeholder="Introduce una tienda"
                           th:field="*{TIENDA}"
                           oninput="validateTIENDA(this)"
                    />
                    <div class="error"></div>
                </div>

                <div class="userRegisterGroup">
                    <label for="DESCUENTO" class="control-label">Descuento:</label>
                    <input type="text"
                           id="DESCUENTO"
                           name="DESCUENTO"
                           class="form-control"
                           placeholder="Introduce un descuento"
                           th:field="*{DESCUENTO}"
                           oninput="validateNEMPLEADO(this)"
                    />
                    <div class="error"></div>
                </div>

                <div class="userRegisterGroup">
                    <label for="CANTIDAD_TOTAL" class="control-label">Cantidad total:</label>
                    <input type="text"
                           id="CANTIDAD_TOTAL"
                           name="CANTIDAD_TOTAL"
                           class="form-control"
                           placeholder="Introduce una cantidad total"
                           th:field="*{CANTIDAD_TOTAL}"
                           oninput="validateNEMPLEADO(this)"
                    />
                    <div class="error"></div>
                </div>

                <div class="userRegisterGroup">
                    <label for="CANTIDAD_DISPONIBLE" class="control-label">Cantidad disponible:</label>
                    <input type="text"
                           id="CANTIDAD_DISPONIBLE"
                           name="CANTIDAD_DISPONIBLE"
                           class="form-control"
                           placeholder="Introduce una cantidad disponible"
                           th:field="*{CANTIDAD_DISPONIBLE}"
                           oninput="validateNEMPLEADO(this)"
                    />
                    <div class="error"></div>
                </div>
                <br>

                <!-- REGISTRAR BUTTON WITH "registerProd" AS ACTION VALUE NEEDED SO IT WORKS AS EXPECTED -->
                <div style="align-items: center">
                    <button type="submit" class="btn btn-primary" name="action" value="registerProd">Registrar</button>
                </div>
            </form>
        </div>

        <!-- EDITAR PRODUCTOS OPTION -->
        <div id="option4" class="menu">
            <h1>Lista de productos</h1>
            <br>

            <!-- SEARCH FIELDS, THEY WORK EXACTLY THE SAME AS THE PREVIOUS ONES -->
            <div class="search-container">
                <div class="search-group">
                    <!-- SEARCH BY DESCRIPTION -->
                    <label for="leftSearchInput2">Buscar por descripción:</label>
                    <label for="leftSearchInput2"></label><input oninput="validateDESCRIPCION(this)" type="text" id="leftSearchInput2" placeholder="Ingresa una descripción..." class="search-input large-input" maxlength="50">
                </div>
                <div class="search-group">
                    <!-- SEARCH BY SKU OR PRODUCT NUMBER -->
                    <label for="rightSearchInput2">Buscar por SKU:</label>
                    <label for="rightSearchInput2"></label><input oninput="validateSKU(this)" type="text" id="rightSearchInput2" placeholder="Ingresa número de empleado..." class="search-input small-input" maxlength="14">
                </div>
            </div>

            <!-- PRODUCT TABLE TO VISUALIZE THE PRODUCTS LIST -->
            <table id="userTable2">
                <thead>
                <tr>
                    <th>SKU</th>
                    <th>DESCRIPCIÓN</th>
                    <th>COSTO</th>
                    <th>PRECIO</th>
                    <th>DEPARTAMENTO</th>
                    <th>TIENDA</th>
                    <th>DESCUENTO</th>
                    <th>CANTIDAD TOTAL</th>
                    <th>CANTIDAD DISPONIBLE</th>
                    <th></th> <!--NEW EMPTY COLUMN FOR EDIT BUTTON -->
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.SKU}"></td>
                    <td th:text="${product.DESCRIPCION}"></td>
                    <td th:text="${product.COSTO}"></td>
                    <td th:text="${product.PRECIO}"></td>
                    <td th:text="${product.DEPARTAMENTO}"></td>
                    <td th:text="${product.TIENDA}"></td>
                    <td th:text="${product.DESCUENTO}"></td>
                    <td th:text="${product.CANTIDAD_TOTAL}"></td>
                    <td th:text="${product.CANTIDAD_DISPONIBLE}"></td>
                    <td>
                        <!-- EDIT BUTTON -->
                        <button type="button"
                                class="btn btn-primary"
                                th:attr="data-target='#productModal'+${product.SKU}"
                                data-toggle="modal"
                                th:value="${product.SKU}"
                                onclick="autoCompleteEditProduct(this)"
                        >EDITAR</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- EDIT PRODUCT DIV, WORKS THE SAME AS EDITAR USUARIO -->
            <div th:each="product : ${products}" th:id="'productModal'+${product.SKU}" class="modal fade" tabindex="-1"
                 role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Editar producto</h5>
                            <!-- CLOSE FORM BUTTON -->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- EDIT PRODUCT FORM -->
                            <form style="align-items: center" th:id="'productEditForm' + ${product.SKU}" th:action="@{/admin}" method="post" th:object="${product}">

                                <!-- CONTAINERS TO STORE THE CURRENT PRODUCT'S INFO -->
                                <div style="display: none;" th:id="'SKU_VALUE' + ${product.SKU}" th:value="${product.SKU}"></div>
                                <div style="display: none;" th:id="'DESCRIPCION_VALUE' + ${product.SKU}" th:value="${product.DESCRIPCION}"></div>
                                <div style="display: none;" th:id="'COSTO_VALUE' + ${product.SKU}" th:value="${product.COSTO}"></div>
                                <div style="display: none;" th:id="'PRECIO_VALUE' + ${product.SKU}" th:value="${product.PRECIO}"></div>
                                <div style="display: none;" th:id="'DEPARTAMENTO_VALUE' + ${product.SKU}" th:value="${product.DEPARTAMENTO}"></div>
                                <div style="display: none;" th:id="'TIENDA_PROD_VALUE' + ${product.SKU}" th:value="${product.TIENDA}"></div>
                                <div style="display: none;" th:id="'DESCUENTO_VALUE' + ${product.SKU}" th:value="${product.DESCUENTO}"></div>
                                <div style="display: none;" th:id="'CANTIDAD_TOTAL_VALUE' + ${product.SKU}" th:value="${product.CANTIDAD_TOTAL}"></div>
                                <div style="display: none;" th:id="'CANTIDAD_DISPONIBLE_VALUE' + ${product.SKU}" th:value="${product.CANTIDAD_DISPONIBLE}"></div>

                                <div class="userRegisterGroup">
                                    <!-- "readonly" ADDED SO THE USER CAN'T MODIFY THAT FIELD -->
                                    <label th:for="'SKU' + ${product.SKU}" class="control-label">SKU:</label>
                                    <input type="text"
                                           th:id="'SKU' + ${product.SKU}"
                                           th:name="'SKU' + ${product.SKU}"
                                           class="form-control"
                                           placeholder="Introduce un SKU"
                                           oninput="validateSKU(this)"
                                           th:field="*{SKU}"
                                           readonly
                                    />
                                    <div class="error"></div>
                                </div>

                                <div class="userRegisterGroup">
                                    <label th:for="'DESCRIPCION' + ${product.SKU}" class="control-label">Descripción:</label>
                                    <input type="text"
                                           th:id="'DESCRIPCION' + ${product.SKU}"
                                           th:name="'DESCRIPCION' + ${product.SKU}"
                                           class="form-control"
                                           placeholder="Introduce una descripcion"
                                           oninput="validateDESCRIPCION(this)"
                                           th:field="*{DESCRIPCION}"
                                    />
                                    <div class="error"></div>
                                </div>

                                <div class="userRegisterGroup">
                                    <label th:for="'COSTO' + ${product.SKU}" class="control-label">Costo:</label>
                                    <input type="text"
                                           th:id="'COSTO' + ${product.SKU}"
                                           th:name="'COSTO' + ${product.SKU}"
                                           class="form-control"
                                           placeholder="Introduce un costo"
                                           oninput="validateNEMPLEADO(this)"
                                           th:field="*{COSTO}"
                                    />
                                    <div class="error"></div>
                                </div>

                                <div class="userRegisterGroup">
                                    <label th:for="'PRECIO' + ${product.SKU}" class="control-label">Precio:</label>
                                    <input type="text"
                                           th:id="'PRECIO' + ${product.SKU}"
                                           th:name="'PRECIO' + ${product.SKU}"
                                           class="form-control"
                                           placeholder="Introduce un precio"
                                           oninput="validateNEMPLEADO(this)"
                                           th:field="*{PRECIO}"
                                    />
                                    <div class="error"></div>
                                </div>

                                <div class="userRegisterGroup">
                                    <label th:for="'DEPARTAMENTO' + ${product.SKU}" class="control-label">Departamento:</label>
                                    <input type="text"
                                           th:id="'DEPARTAMENTO' + ${product.SKU}"
                                           th:name="'DEPARTAMENTO' + ${product.SKU}"
                                           class="form-control"
                                           placeholder="Introduce un departamento"
                                           oninput="validateDEPA(this)"
                                           th:field="*{DEPARTAMENTO}"
                                    />
                                    <div class="error"></div>
                                </div>

                                <div class="userRegisterGroup">
                                    <label th:for="'TIENDA_PROD' + ${product.SKU}" class="control-label">Tienda:</label>
                                    <input type="text"
                                           th:id="'TIENDA_PROD' + ${product.SKU}"
                                           th:name="'TIENDA_PROD' + ${product.SKU}"
                                           class="form-control"
                                           placeholder="Introduce una tienda"
                                           oninput="validateTIENDA(this)"
                                           th:field="*{TIENDA}"
                                    />
                                    <div class="error"></div>
                                </div>

                                <div class="userRegisterGroup">
                                    <label th:for="'DESCUENTO' + ${product.SKU}" class="control-label">Descuento:</label>
                                    <input type="text"
                                           th:id="'DESCUENTO' + ${product.SKU}"
                                           th:name="'DESCUENTO' + ${product.SKU}"
                                           class="form-control"
                                           placeholder="Introduce un descuento"
                                           oninput="validateNEMPLEADO(this)"
                                           th:field="*{DESCUENTO}"
                                    />
                                    <div class="error"></div>
                                </div>

                                <div class="userRegisterGroup">
                                    <label th:for="'CANTIDAD_TOTAL' + ${product.SKU}" class="control-label">Cantidad total:</label>
                                    <input type="text"
                                           th:id="'CANTIDAD_TOTAL' + ${product.SKU}"
                                           th:name="'CANTIDAD_TOTAL' + ${product.SKU}"
                                           class="form-control"
                                           placeholder="Introduce una cantidad total"
                                           oninput="validateNEMPLEADO(this)"
                                           th:field="*{CANTIDAD_TOTAL}"
                                    />
                                    <div class="error"></div>
                                </div>

                                <div class="userRegisterGroup">
                                    <label th:for="'CANTIDAD_DISPONIBLE' + ${product.SKU}" class="control-label">Cantidad disponible:</label>
                                    <input type="text"
                                           th:id="'CANTIDAD_DISPONIBLE' + ${product.SKU}"
                                           th:name="'CANTIDAD_DISPONIBLE' + ${product.SKU}"
                                           class="form-control"
                                           placeholder="Introduce una cantidad disponible"
                                           oninput="validateNEMPLEADO(this)"
                                           th:field="*{CANTIDAD_DISPONIBLE}"
                                    />
                                    <div class="error"></div>
                                </div>

                                <br>
                                <div style="align-items: center">
                                    <!-- ACEPTAR BUTTON WITH "updateProduct" AS ACTION VALUE NEEDED SO IT WORKS AS EXPECTED -->
                                    <button type="submit" class="btn btn-primary" name="action" value="updateProduct">ACEPTAR</button>
                                    <!-- CLOSE FORM BUTTON WORKS THE SAME AS THE PREVIOUS ONE -->
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- LIBRARIES AND SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/js/adminScripts.js}"></script>
</body>
</html>